<html>

<head>
    <link rel='stylesheet' href='public/stylesheets/style.css' />
    <link href="public/bower_components/bootstrap/dist/css/bootstrap.min.css" />

    <script src="public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="public/bower_components/angular/angular.min.js"></script>
    <script src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="public/javascripts/angular/app.js"></script>
    <script src="public/javascripts/angular/controller.js"></script>
</head>

<body>
    <div class="middlePage" ng-app="app">

        <form name="userForm" role="form" ng-submit="signup(userForm.$valid)" novalidate>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group">
                        <input type="text" name="username" ng-model="user.username" class="form-control input-sm" placeholder="Username" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="password" name="password" ng-model="user.password" ng-minlength="6" class="form-control input-sm" placeholder="Password"
                            required>
                    </div>
                </div>
            </div>
    </div>

    <input type="submit" value="Register" class="btn btn-info btn-block">
    </form>


    </div>
</body>

</html>