<html>

<head>
    <link rel='stylesheet' href='public/stylesheets/style.css'/>
    <link href="public/bower_components/bootstrap/dist/css/bootstrap.min.css"/>

    <script src="public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="public/bower_components/angular/angular.min.js"></script>
    <script src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="public/javascripts/angular/app.js"></script>
    <script src="public/javascripts/angular/controller.js"></script>
</head>
<body>

welcome
</body>

</html>